.red-color{
    color: indianred
}

.blue-color{
    color:skyblue
}

.drkblu-color{
  color: #0d6efd;
}

.gry-color{
  color: grey
}

.lgry-color{
  color:lightgray
}

.pointer{
    cursor: pointer
}

.font-smlr{
  font-size: smaller;
}

.btn-crl{
  background-color: #E6811f;
  color:black;
  border-color: #E6811f;
}

::-webkit-scrollbar {
    width: 5px;
  }
  

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #E6811f; 
  }

  .w-0{
    width: 0%;
  }

  .drag-elm{
    background-color:white;
    cursor: move;
  }